{% extends "master.html" %}

{% block titre %}
MèchePro | Connexion
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'inscription_style.css' %}">
{% endblock %}

{% block contenu %}
<form method="POST" action="{% url 'connexion' %}">
    {% csrf_token %}
    <div class="body_centre">
        <div class="container">
            <h2>Connexion</h2>

            <input type="text" name="nom_utilisateur" placeholder="Nom d'utilisateur" required>
            <input type="password" name="mot_de_passe" placeholder="Mot de passe" required>
            <button type="submit" class="bouton_inscription">Connectez-vous</button>

            <p>Vous n'avez pas de compte? <a href="{% url 'inscription' %}">Créer un compte.</a></p>
        </div>
    </div>
</form>
{% endblock %}
