{% load static %}
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'home_style.css' %}">
</head>

<body>
    <div class="en_tete">
        <h1>MèchePro</h1>

        <a href="/"><button class="bn632-hover bn25">S'inscrire</button></a>
    </div>
    <sub>Donnons aux gens la meche dont
        ils ont besoins!</sub>



    <script src="" async defer></script>
</body>

</html>