{% extends "master.html" %}

{% block titre %}
MèchePro | Zone d'inscription
{% endblock %}

{% block contenu %}
<form method="POST" action="{% url 'inscrire_utilisateur' %}">
    <div class="body_centre">
        <div class="container">
            {% csrf_token %}
            <pre>
    
            <div>
            <h1>Créer un compte</h1>
    
            <p>Vous avez déjà un compte? <a href="/connect">Connectez-vous</a></p>
        
    <input type="text" name="prenom" placeholder="Prénom" required>

    <input type="text" name="nom" placeholder="Nom" required>

    <input type="date" name="date_de_naissance" required>

    <input type="email" name="adresse_courriel" placeholder="Adresse Courriel" required>

    <input type="tel" name="numero_telephone" placeholder="Numéro de Téléphone" required>
    
    <input type="text" name="nom_utilisateur" placeholder="Nom d'utilisateur" required>

    <input type="password" name="mot_de_passe" placeholder="Créer un mot de passe" required>

    <button type="submit" class="bouton_inscription">S'inscrire</button>
            </div>
            </div>
            </div>
        </pre>
        </form>
{% endblock %}
