{% extends "master.html" %}
<!DOCTYPE html>
<html>
    {% block titre %}
MèchePro | {{ titre }}
{% endblock %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block contenu %}
<head>
    <style>
        /* Custom styles for rangeselector buttons */
        .selector-rect {
            color: white !important; /* Set text color to white */
            background-color: #333333 !important; /* Set background color */
            border: 1px solid #555555 !important; /* Optional: Add border */
        }
    </style>
</head>
<body>
    <h2>Sélectionnez un symbole boursier</h2>
    <form method="post">
        {% csrf_token %}
        <label for="symbol">Sélectionnez un symbole :</label>
        <select name="symbol" id="symbol">
            {% for symbol, name in symbols %}
                <option value="{{ symbol }}">{{ symbol }}, {{ name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Valider</button>
    </form>
    <h1>{{ titre }}</h1>

    {{ graph_html | safe}}

</body>
<script>
    var plotDiv = document.getElementsByClassName('js-plotly-plot')[0];

var updateAntiRebond = antiRebond(updateAxeY, 100);
plotDiv.on('plotly_relayout', function(eventData) {
    if (eventData['xaxis.range[0]'] || eventData['xaxis.range[1]']) {
        updateAntiRebond();
    }
})

function antiRebond(func, wait) {
    var timeout;
    return function(...args) {
        clearTimeout(timeout);
        timeout = setTimeout(() => func.apply(this, args), wait);
    };
}

function updateAxeY() {
    var visibleHighsData = [];
    var visibleLowsData = [];
    var xData = plotDiv.data[0].x;
    var highs = plotDiv.data[0].high;
    var lows = plotDiv.data[0].low;
    var xRange = plotDiv.layout.xaxis.range;
    
    for (var i = 0; i < xData.length; i++) {
        if (xData[i] >= xRange[0] && xData[i] <= xRange[1]) {
            visibleHighsData.push(highs[i]);
            visibleLowsData.push(lows[i]);
        }
    }
    
    // Calculate min and max of visible y-values
    if (visibleHighsData.length > 0) {
        var minY = Math.min(...visibleLowsData);
        var maxY = Math.max(...visibleHighsData);
    
        // Update the y-axis range
        Plotly.relayout(plotDiv, {
            'yaxis.range': [minY, maxY]
        });
    }
}
</script>
</html>
{% endblock %}